node_modules/
.env
.vscode/
dist/
coverage/
playwright-report/
test-results/
.DS_Store
.idea/
npm-debug.log*
package-lock.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
